body {
font-family: "Source Sans Pro", sans-serif;
background: #1f1516;
}

.main-bg-color {
  background-color: #f7a623;
  color:#fff;
}
.secondary-bg-color {
  background-color: #9c9768;
  color:#fff;
}

.main-text-color {
  color:#f7a623;
  font-weight: 500;
}
.secondary-text-color {
  color: #9c9768;
}
.button {
  height:20px;
}

.card-title
{
  color:#db7a05;
  font-weight: 700;
}

.post-icon
{
  width: 20px;
  height: 20px;
  margin-top: -5px;
}

.post-time
{
  margin-top: -6px !important;
}
